* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 2px;
}

/* product_Card Start */
.a-produtcardWrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding-top: 220px; */
}

.productcardContent {
    background-color: #FEF3DA;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #113F75;
}

.productimgWrapper {
    width: 100%;
}

.productimgWrapper img {
    width: 100%;
    object-fit: cover;
    padding: 0;
    display: block;
    /*remove space below img tag */
    aspect-ratio: 4/3;
}

.productcardTitle {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #2B325C;
    margin: 15px;
}

.productcardTitle img {
    width: 30px;
    padding-left: 3px;
}

.priceWrapper {
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding:0 0 12px 0;
}

.price {
    display: flex;
    color: #5E5E5E;
    line-height: 20px;
    padding-right: 12px;
    text-decoration:line-through;
}
.discount {
    display: flex;
    align-items: center;
    color: #113F75;
    line-height: 20px;
    font-weight: 500;
}

.productQuantity {
    display: flex;
    align-items: center;
    color: #5E5E5E;
}

.qty{
    padding: 3px 8px;
    margin: 0px 20px 0 5px;
    background-color: #fff;
    border: 1px solid #113F75;
    color: #113F75;
    font-weight: 400;
    border-radius: 8px;
}

.qty2{
    padding: 3px 12px;
    margin: 0px 5px;
    background-color: #fff;
    border: 1px solid #113F75;
    border-radius: 8px;
}

.addButton {
    width: 210px;
    text-align: center;
    background-color: #FAD249;
    color: #113F75;
    border: 3px solid #113F75;
    border-radius: 8px;
    padding: 8px 35px;
    margin: 15px 0 40px 0;
    display: flex;
    font-weight: 500;
    align-items: center;
}

.addButton p {
padding-right: 8px;
}
/* end */

.descriptionWrapper {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
    
.imgWrapper img{
    display: flex;
    width: 700px;
    height: 300px;
    object-fit: cover;
}

.cart {
    width: 35px;
}

.description {
    max-width: 320px;
}

.shopName {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B325C;
}
.shopName img {
    width: 40px;
}

.productName {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B325C;
}
.productName img {
    width: 40px;
}

.drink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #113F75;
    width: 115px;
    background-color: #FEF3DA;
    border-radius: 8px;
    padding: 3px;
    margin: 5px;   
    font-weight:400;
}
.drink img {
    width: 30px;
    padding-right: 3px;
}

.deadline {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #113F75;
    width: 160px;
    height: 40px;
    background-color: #FEF3DA;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: 400;
}
.deadline img {
    width: 30px;
    padding-right: 3px;
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background-color: #FEF3DA;
    border-radius: 8px;
    color: #113F75;
}
.collection img {
    width: 30px;
    padding-right: 5px;
}

.description {
    color: #5E5E5E;
}

.discount img {
    width: 30px;
}

.priceContent {
    background-color: #FEF3DA;
    width: 390px;
    padding: 40px 0 12px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quantity {
    display: flex;  
}

.quantity p {
    padding-right: 10px; 
    margin-top: 10px;
}

.quantityButton {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #fff;
}

.imgWrapper {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.productRecommend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommendWrapper {
    display: flex;
}

.recommendWrapper img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 3px solid #113F75;
    border-radius: 8px;
    margin: 20px 15px;
}

.apple {
    display: flex;
}

.apple img {
    width: 510px;
    height: 510px;
    object-fit: cover;
    border: 10px solid #FAD249;
    padding: 10px;
    margin: 10px;
}